@import '../../colors.scss';
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  font-size: 1rem;
  text-align: center;
  color: $red;
  @media (min-width: 1110px) {
    padding-top: 40px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem;
  }
}
.smallContainer {
  margin-top: 1.5rem;
  color: $blue;
}
