@mixin center {
  text-align: center;
  label {
    display: block;
  }
  input {
    margin-top: 0.5rem;
  }
}

.formContainer {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    'dateS  dateE'
    'hourS  hourE'
    'placeS  placeE';
  div {
    margin-bottom: 2rem;
  }
}

.rentDay {
  grid-area: dateS;
  @include center;
}
.endRentDay {
  grid-area: dateE;
  @include center;
}
.rentHour {
  grid-area: hourS;
  @include center;
}
.endRentHour {
  grid-area: hourE;
  @include center;
}
.rentPlace {
  grid-area: placeS;
  text-align: center;
  span {
    display: block;
  }
  select {
    margin-top: 0.5rem;
  }
}
.endRentPlace {
  grid-area: placeE;
  text-align: center;
  span {
    display: block;
  }
  select {
    margin-top: 0.5rem;
  }
}
.bonusOption {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
