.contaier {
  display: flex;
  flex-direction: column;
  span {
    margin-left: 2rem;
  }
}
textarea {
  display: flex;
  min-width: 80%;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}
