@import '../../colors.scss';

.burgerClosed {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 123;
  @media (min-width: 768px) {
    display: none;
  }

  div {
    height: 0.25rem;
    width: 2rem;
    background-color: black;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    transform-origin: 1px;
    &:nth-child(1) {
      transform: rotate(0);
    }
    &:nth-child(2) {
      transform: rotate(0);
      opacity: 1;
    }
    &:nth-child(3) {
      transform: rotate(0);
    }
  }
}
.burgerOpened {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 5px;
  right: 20px;
  z-index: 124;
  @media (min-width: 768px) {
    display: none;
  }
  div {
    height: 0.25rem;
    width: 2rem;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    transform-origin: 1px;
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      transform: translateX(100%);
      animation: disapear 0.3s;
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
@keyframes disapear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
